body{
    background-color: #3C3F40;

}

a{
    color: white;
}

#particles-js {
    background-color: #3E3E3E;
    margin-top: 40px;
    padding-top: 0;
    padding-bottom: 50px;
    padding-left: 90px;
    padding-right:90px;
    font-family: Chloe;
    font-size: 2.0em;
    border-radius: 80px;
    color: white;
    margin-bottom: 80px;
}

#titulo{
    padding-bottom: 0;
    font-family: Chloe;
    font-size: 2.2em;
}

#particles-js img {
    max-width: 100%;
}

#inicio img {
    padding-top: 60px;

}
#logo{
    margin-left: 550px;
}
.carousel-inner img {
    height: 540px!important;
    width: 100%!important;
}

.navbar a {
    font-family: Chloe;
    font-size: 2.1em;
}

.particles-js-canvas-el {
    position: absolute;
    left: 0;
    top: 0;
}


#productos img {
    border-radius: 40px;
    max-width: 100%;
}

#productos {
    margin-top: 80px;
    font-family: Chloe;
    border-radius: 80px;
    max-width: 100%;
    color: white;
}
#productos .row, .col{
    padding: 20px;
    max-width: 100%;
}

#contacto ul {
    list-style-type: none;
}

#contacto ul li {
    text-align: center;
}

#contacto {
    background-image: imag('public/images/IMG_0848.JPG');
    font-family: Chloe;
    margin-bottom: 0px;
    color: white;
}
#contacto p{
    font-size: .7em;
    color: black;
}

#contacto h2 {
    text-align: center;
    font-family: Chloe;
}

#seccion_social .fa {
    box-shadow: 0 0 70px black;
    background-color: white;
    color: black;
}

#seccion_social .fa {
    border: 2px black solid;
    border-radius: 50%;
    font-size: 40px;
    padding: 10px 15px;
    margin-right: 10px;
}

#seccion_social .fa-facebook {
    padding: 10px 20px;
}

#seccion_social ul li a:hover {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
}

#seccion_social ul li a {
    color: white;
}

#seccion_social ul li a:hover i {
    background: #363C3E;
}

#seccion_social {
    position: fixed;
    left: 0px;
    top: 50%;
}

#seccion_social ul li a {
    list-style: none;
}

#seccion_social ul li a {
    display: inline-block;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

#contacto {
    background-image: url('../images/IMG_0833.JPG');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 40px;
    padding-right: 50px;
    border-radius: 50px;
    font-family: Chloe;
    font-size: 3em;
    padding: 50px;
}

#contacto ul li {
    background-color: black;
    color: white;
    border-radius: 20px;
}
#contacto i{
    padding: 15px;
}

#comentario1{
    border-radius: 0;
}

#seccion_testimonios img {
    padding: 20px;
    max-width: 100%;
}

#seccion_testimonios {
    background-image: url('../images/IMG_0833.JPG');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-radius: 80px;
    font-family: Chloe;
    margin-bottom: 150px;
    padding: 50px;
}

#seccion_testimonios h2{
    font-size: 3.8em;
}

#seccion_beneficios {
    background-image: url('../images/_DSC0099.JPG');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 150px;
    margin-bottom: 150px;
    color: white;
    border-radius: 80px;
    font-family: Chloe;
    padding: 50px;
}

#seccion_beneficios img {
    border-radius: 150px;
    max-width: 100%;
}

#productos {
    background-image: url('../images/_DSC0099.JPG');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Chloe;
    font-size: 3em;
    padding: 30px;
    margin-top: 80px;
}

#productos h2{
    font-size: 1em;
}
#productos a{
    font-size: .5em;
}

#productos a {
  text-decoration: none;
  text-shadow:
    -2px 4px 4px #091243,
    0 0 10px #00D0FF,
    inset 1px 1px 1px white;
  color: #1FFFFF;
  border: 2px solid;
  border-radius: 4px;
  box-shadow:
    0 1px 2px rgba(0,0,0, 0.6),
    2px 1px 4px rgba(0,0,0, 0.3),
    2px 4px 3px rgba(3,0,128, 0.3),
    0 0 7px 2px rgba(0,208,255, 0.6),
    inset 0 1px 2px rgba(0,0,0, 0.6),
    inset 2px 1px 4px rgba(0,0,0, 0.3),
    inset 2px 4px 3px rgba(3,0,128, 0.3),
    inset 0 0 7px 2px rgba(0,208,255, 0.6);
  animation: flickering 5s infinite;
}

@keyframes flickering {
  0% {
    border-color: transparent;
    opacity: 0.2;
  }

  2% {
    border-color: #1FFFFF;
    opacity: 1;
  }

  4% {
    border-color: transparent;
    opacity: 0.2;
  }

  8% {
    border-color: #1FFFFF;
    opacity: 1;
  }

  28% {
    border-color: #1FFFFF;
    opacity: 1;
  }

  30% {
    border-color: transparent;
    opacity: 0.2;
  }

  36% {
    border-color: #1FFFFF;
    opacity: 1;
  }

  100% {
    border-color: #1FFFFF;
    opacity: 1;
  }
}

#titulo h2{
    color: white;
    font-family: Chloe;
    font-size: 3em;
    margin-top: 110px;
}

.navbar-inverse .navbar-nav>li>a {
     color: white;
}
navbar.less:537
.navbar-inverse .navbar-brand {
    color:white;
}


#carousel-example-generic{
    margin-top: 100px;
}
